body {
    font: normal normal normal 16pt/19.2pt'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
    font-weight: bold;
    font-size: 1.2em;
}
#contact {
}
.blue {
    color: blue;
}
.bold {
    font-weight: bold;
}
.bigger {
    font-size: 1.5em;
}
.italic {
    font-style: italic;
}
.underline {
    border-bottom: 1px solid black;
}
